@font-face {
  font-family: "Helvetica - Condensed - Black";
  src: url("../fonts/Helvetica-Condensed-Black.otf"); }

* {
  box-sizing: border-box; }

h2 {
  color: #1776d5;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.profile {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
  background-color: #f6f6f6;
  display: flex; }
  .profile .avatar {
    width: 43%;
    margin-top: 100px; }
    .profile .avatar div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .profile .avatar div img {
        width: 300px;
        height: 300px;
        object-fit: cover; }
      .profile .avatar div form label {
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        display: inline-block;
        border-radius: 2px;
        background-color: #0c58de;
        padding: 5px 15px;
        margin: auto;
        margin-top: 20px; }
      .profile .avatar div form input[type="file"] {
        opacity: 0;
        display: block;
        width: 1px;
        height: 1px; }
  .profile .info {
    padding: 40px;
    padding-left: 0px;
    width: 57%; }
    .profile .info h3 {
      font-family: "Helvetica - Condensed - Black";
      font-size: 28px;
      font-weight: 400;
      color: #464646;
      margin-bottom: 23px;
      margin-top: 0; }
    .profile .info form {
      width: calc(100% - 70px); }
      .profile .info form p {
        color: #131313;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 13px;
        margin-top: 13px; }
      .profile .info form div {
        position: relative;
        border: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .profile .info form div span {
          position: absolute;
          right: -65px;
          top: 5px; }
      .profile .info form input {
        mergin-top: 9px;
        margin-bottom: 9px;
        color: #464646;
        width: calc(50% - 14px);
        height: 33px;
        border-radius: 10px;
        border: 1px solid #464646;
        background-color: #ffffff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        padding: 8px;
        outline: none; }
        .profile .info form input.full {
          width: 100%; }
        .profile .info form input[type="submit"] {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          color: #ffffff;
          min-height: 35px;
          border-radius: 2px;
          background-color: #111111;
          margin-top: 25px; }
      .profile .info form textarea {
        border-radius: 10px;
        border: 1px solid #464646;
        background-color: #ffffff;
        padding: 8px;
        width: 100%;
        outline: none; }

.full {
  width: 100%; }

.os-modal {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center; }
  .os-modal .modal-body {
    margin: auto;
    background-color: white;
    max-width: 1020px;
    width: 100%;
    padding: 40px;
    display: flex;
    position: relative; }
    .os-modal .modal-body img {
      width: 250px;
      height: 250px;
      display: block;
      object-fit: cover;
      margin-right: 40px;
      margin-top: 30px; }
    .os-modal .modal-body .info h3 {
      font-family: "Helvetica - Condensed - Black";
      font-size: 28px;
      font-weight: 400;
      color: #464646;
      margin-bottom: 18px; }
    .os-modal .modal-body .info .skills {
      list-style: none;
      padding-left: 0px; }
      .os-modal .modal-body .info .skills li {
        display: inline-block; }
        .os-modal .modal-body .info .skills li a {
          display: inline-block;
          margin-bottom: 8px;
          background: #cfcfcf;
          padding: 2px 13px;
          border-radius: 2px;
          color: #ffffff;
          font-family: Roboto;
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase; }
    .os-modal .modal-body .info .contact {
      list-style: none;
      padding-left: 0; }
      .os-modal .modal-body .info .contact li {
        display: flex; }
        .os-modal .modal-body .info .contact li span {
          width: 130px;
          min-width: 135px;
          font-family: Roboto;
          font-size: 20px;
          font-weight: 700;
          color: #767676;
          display: block; }
    .os-modal .modal-body .info p {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      color: #767676;
      text-align: justify; }
    .os-modal .modal-body .info a.go {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
      border-radius: 2px;
      background-color: #111111;
      padding: 10px 50px;
      display: inline-flex;
      align-items: center;
      justify-content: center; }
    .os-modal .modal-body .close {
      position: absolute;
      float: right;
      right: 10px;
      top: 0px;
      padding: 2px;
      cursor: pointer;
      margin: 2px;
      color: grey;
      font-size: 32pt;
      transform: rotate(45deg);
      display: inline-block; }
      .os-modal .modal-body .close:before {
        content: '+'; }

@media only screen and (max-width: 800px) {
  .profile {
    flex-direction: column; }
    .profile .avatar {
      width: 100%; }
    .profile .info {
      width: 100%; } }

@media only screen and (max-width: 510px) {
  .profile .info form div {
    flex-direction: column; }
    .profile .info form div input {
      width: 100%; } }
